<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Museo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/styles.css" />
  </head>

  <body class="bg-dark text-light">
    <div class="container text-center my-5">
      <h1>Museo Metropolitano</h1>
      <form id="form" class="row g-3 justify-content-center">
        <div class="col-md-4">
          <input
            type="text"
            name="busqueda"
            id="busqueda"
            class="form-control"
            placeholder="¿Qué buscas?"
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            name="ubicacion"
            id="ubicacion"
            class="form-control"
            placeholder="¿Dónde?"
          />
        </div>
        <div class="col-md-4">
          <select
            name="departament"
            id="departament"
            class="form-select"
          ></select>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-success w-100">Buscar</button>
        </div>
        <div class="col-md-2">
          <button id="btn-traducir" class="btn btn-info w-100">Traducir</button>
        </div>
      </form>
      <div id="loader" class="loader" style="display: none;"></div>

      <p></p>
      <div id="resultados" class="row g-4 mt-4">
        <h2>Bienvenido al Museo Metropolitano</h2>
      </div>
      <p></p>
      <p></p>
      <div id="paginacion">
        <button id="btn-anterior">Anterior</button>
        <span>Página <span id="pagina-actual">1</span> de <span id="total-paginas">0</span></span>
        <button id="btn-siguiente">Siguiente</button>
      </div>
      
    </div>

    <script src="/JS/main.js"></script>

  </body>
</html>

