body {
  font-family: 'Poppins', Arial, sans-serif;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black; 
  height: 100vh;
  margin: 0;
}

h1 {
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#resultados {
  background-color: rgba(187, 187, 187, 0.7);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.loader-container p {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-top: 10px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination .btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s, transform 0.3s;
}

#pagination .btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }

  #pagination {
    flex-wrap: wrap;
  }

  #pagination .btn {
    margin: 5px 0;
  }
}

.pagina-actual {
  color: rgb(0, 0, 0);
}
