body {
  font-family: 'Poppins', Arial, sans-serif;
}

h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#resultados {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.loader-container p {
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination .btn {
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

#pagination .btn:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }

  #pagination {
    flex-wrap: wrap;
  }

  #pagination .btn {
    margin: 5px 0;
  }
}
